<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT pages ANY>
<!ATTLIST pages id ID #REQUIRED>
<!ELEMENT container ANY>
<!ATTLIST container id ID #REQUIRED>
<!ELEMENT containersFolder ANY>
<!ATTLIST containersFolder id ID #REQUIRED>
<!ELEMENT containers ANY>
<!ATTLIST containers id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT subPages ANY>
<!ATTLIST subPages id ID #REQUIRED>
<!ELEMENT works ANY>
<!ATTLIST works id ID #REQUIRED>
<!ELEMENT defaultPage ANY>
<!ATTLIST defaultPage id ID #REQUIRED>
<!ELEMENT careers ANY>
<!ATTLIST careers id ID #REQUIRED>
<!ELEMENT teamPage ANY>
<!ATTLIST teamPage id ID #REQUIRED>
<!ELEMENT contentRepository ANY>
<!ATTLIST contentRepository id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
]>
<root id="-1">
  <home id="1073" key="84546799-d798-425c-854f-94725d298d7d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-12-22T00:34:59" updateDate="2016-12-27T21:27:16" nodeName="Uba-Solutions" urlName="uba-solutions" path="-1,1073" isDoc="" nodeType="1057" creatorName="anil" writerName="anil" writerID="0" template="1048" nodeTypeAlias="home">
    <bodyText><![CDATA[<div>
<h2 style="text-align: center;"><span class="blue">Our Belief</span></h2>
<p style="text-align: center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>]]></bodyText>
    <bannerImage><![CDATA[/media/1004/child-1871104__340.jpg]]></bannerImage>
    <title><![CDATA[Home]]></title>
    <solutionSubHeading><![CDATA[UBA Solutions offers a range of solutions to your web and mobile application ideas.]]></solutionSubHeading>
    <solutionHeading><![CDATA[Our Solutions]]></solutionHeading>
    <solutionPicker><![CDATA[1092,1093,1094,1095]]></solutionPicker>
    <testimonialsContent><![CDATA[<p style="text-align: center;"><strong>Testimonials</strong></p>
<p style="text-align: center;"> </p>
<p style="text-align: center;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>]]></testimonialsContent>
    <pages id="1165" key="e94af619-3478-469b-9e71-ecbbd3a41a1d" parentID="1073" level="2" creatorID="0" sortOrder="0" createDate="2016-12-28T13:19:21" updateDate="2016-12-28T13:36:41" nodeName="Contacts" urlName="contacts" path="-1,1073,1165" isDoc="" nodeType="1163" creatorName="anil" writerName="anil" writerID="0" template="1162" nodeTypeAlias="pages">
      <metaDescription><![CDATA[Contact]]></metaDescription>
      <title><![CDATA[Contact]]></title>
      <mainContent><![CDATA[1161,1170]]></mainContent>
    </pages>
    <careers id="1109" key="66c4d06c-4fef-4516-a8dd-50c4d556bebc" parentID="1073" level="2" creatorID="0" sortOrder="1" createDate="2016-12-26T12:25:33" updateDate="2016-12-27T21:27:16" nodeName="Careers" urlName="careers" path="-1,1073,1109" isDoc="" nodeType="1118" creatorName="anil" writerName="anil" writerID="0" template="1117" nodeTypeAlias="careers">
      <title><![CDATA[Careers]]></title>
      <description><![CDATA[<h4 style="text-align: center;"><strong>We are hiring</strong></h4>
<p><span>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</span></p>
<p> </p>]]></description>
      <contentPicker><![CDATA[1120,1121,1122,1124,1125]]></contentPicker>
      <careers id="1120" key="b192cd9d-e816-4e06-9d4a-efe11dd4efd5" parentID="1109" level="3" creatorID="0" sortOrder="1" createDate="2016-12-26T13:38:39" updateDate="2016-12-27T21:27:16" nodeName="Sr. Data Engineer" urlName="sr-data-engineer" path="-1,1073,1109,1120" isDoc="" nodeType="1118" creatorName="anil" writerName="anil" writerID="0" template="1117" nodeTypeAlias="careers">
        <title><![CDATA[Sr. Data Engineer]]></title>
        <description><![CDATA[<?UMBRACO_MACRO macroAlias="JobTitle" jobTitle="Sr. Data Engineer" />
<p> </p>
<p><strong>JOB DESCRIPTION</strong></p>
<ol>
<li><span>There are many variations of passages of Lorem Ipsum available,</span></li>
<li><span> but the majority have suffered alteration in some form, </span></li>
<li><span>by injected humour, or randomised words which don't look even slightly believable.</span></li>
<li><span> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</span></li>
</ol>
<p> </p>
<p> </p>
<p><strong>REQUIREMENTS</strong></p>
<ol>
<li><span>There are many variations of passages of Lorem Ipsum available,</span></li>
<li><span>but the majority have suffered alteration in some form,</span></li>
<li><span>by injected humour, or randomised words which don't look even slightly believable.</span></li>
<li><span>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</span></li>
</ol>
<p> </p>
<p><strong>TECHNICAL SKILLS</strong></p>
<ol>
<li><span>There are many variations of passages of Lorem Ipsum available,</span></li>
<li><span>but the majority have suffered alteration in some form,</span></li>
<li><span>by injected humour, or randomised words which don't look even slightly believable.</span></li>
<li><span>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</span></li>
</ol>
<p> </p>
<p> </p>
<p><strong>BUSINESS SKILLS</strong></p>
<ol>
<li><span>There are many variations of passages of Lorem Ipsum available,</span></li>
<li><span>but the majority have suffered alteration in some form,</span></li>
<li><span>by injected humour, or randomised words which don't look even slightly believable.</span></li>
<li><span>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</span></li>
</ol>
<p> </p>
<p><strong>ACADEMIC QUALIFICATION</strong></p>
<ol>
<li><span>There are many variations of passages of Lorem Ipsum available,</span></li>
<li><span>but the majority have suffered alteration in some form,</span></li>
<li><span>by injected humour, or randomised words which don't look even slightly believable.</span></li>
<li><span>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</span></li>
</ol>
<p> </p>
<p> </p>]]></description>
      </careers>
      <careers id="1121" key="98e79de3-5e2e-46d1-84db-efbb22f86e39" parentID="1109" level="3" creatorID="0" sortOrder="2" createDate="2016-12-26T13:39:05" updateDate="2016-12-27T21:27:16" nodeName="Sr. PHP Developer" urlName="sr-php-developer" path="-1,1073,1109,1121" isDoc="" nodeType="1118" creatorName="anil" writerName="anil" writerID="0" template="1117" nodeTypeAlias="careers">
        <title><![CDATA[Sr. PHP Developer]]></title>
      </careers>
      <careers id="1122" key="2e843d5e-e846-435d-8480-d85b851695a7" parentID="1109" level="3" creatorID="0" sortOrder="3" createDate="2016-12-26T13:39:24" updateDate="2016-12-27T21:27:16" nodeName="Sr. QA Automation Engineer" urlName="sr-qa-automation-engineer" path="-1,1073,1109,1122" isDoc="" nodeType="1118" creatorName="anil" writerName="anil" writerID="0" template="1117" nodeTypeAlias="careers">
        <title><![CDATA[Sr. QA Automation Engineer]]></title>
      </careers>
      <careers id="1124" key="5f69f7a1-a7b7-42b9-bb32-e93ef6fa2e5e" parentID="1109" level="3" creatorID="0" sortOrder="4" createDate="2016-12-26T13:42:21" updateDate="2016-12-27T21:27:16" nodeName="Technical Manager (Sr. Web Solutions Architect)" urlName="technical-manager-sr-web-solutions-architect" path="-1,1073,1109,1124" isDoc="" nodeType="1118" creatorName="anil" writerName="anil" writerID="0" template="1117" nodeTypeAlias="careers">
        <title><![CDATA[Technical Manager (Sr. Web Solutions Architect)]]></title>
      </careers>
      <careers id="1125" key="0535231a-3a80-4ecb-93a9-95683928ef05" parentID="1109" level="3" creatorID="0" sortOrder="5" createDate="2016-12-26T13:42:42" updateDate="2016-12-27T21:27:16" nodeName="ASP.Net Developer (Lead)" urlName="aspnet-developer-lead" path="-1,1073,1109,1125" isDoc="" nodeType="1118" creatorName="anil" writerName="anil" writerID="0" template="1117" nodeTypeAlias="careers">
        <title><![CDATA[ASP.Net Developer (Lead)]]></title>
      </careers>
    </careers>
    <pages id="1083" key="ebc14598-925f-4812-9783-437d26a580e5" parentID="1073" level="2" creatorID="0" sortOrder="2" createDate="2016-12-22T11:31:31" updateDate="2016-12-28T16:31:45" nodeName="Team" urlName="team" path="-1,1073,1083" isDoc="" nodeType="1163" creatorName="anil" writerName="anil" writerID="0" template="1162" nodeTypeAlias="pages">
      <metaDescription><![CDATA[Team]]></metaDescription>
      <title><![CDATA[Team]]></title>
      <mainContent><![CDATA[1173,1174]]></mainContent>
    </pages>
    <pages id="1082" key="c3d5a40f-8684-4d27-be45-eee464a61133" parentID="1073" level="2" creatorID="0" sortOrder="3" createDate="2016-12-22T11:31:18" updateDate="2016-12-29T11:11:56" nodeName="Technology" urlName="technology" path="-1,1073,1082" isDoc="" nodeType="1163" creatorName="anil" writerName="anil" writerID="0" template="1162" nodeTypeAlias="pages" />
    <pages id="1081" key="f480a5a4-a62e-499a-9909-2cbf1448ccff" parentID="1073" level="2" creatorID="0" sortOrder="4" createDate="2016-12-22T11:31:03" updateDate="2016-12-29T11:12:55" nodeName="Research" urlName="research" path="-1,1073,1081" isDoc="" nodeType="1163" creatorName="anil" writerName="anil" writerID="0" template="1162" nodeTypeAlias="pages">
      <title><![CDATA[Research]]></title>
    </pages>
    <works id="1099" key="dfa59656-5ca1-43d0-a0ad-0cfc445309e8" parentID="1073" level="2" creatorID="0" sortOrder="5" createDate="2016-12-23T13:07:41" updateDate="2016-12-27T21:27:16" nodeName="Works" urlName="works" path="-1,1073,1099" isDoc="" nodeType="1098" creatorName="anil" writerName="anil" writerID="0" template="1086" nodeTypeAlias="works">
      <works id="1100" key="a1dd81df-3596-4e6b-9c33-cf4132a051cb" parentID="1099" level="3" creatorID="0" sortOrder="4" createDate="2016-12-23T13:08:21" updateDate="2016-12-27T21:27:16" nodeName="SkyFonts" urlName="skyfonts" path="-1,1073,1099,1100" isDoc="" nodeType="1098" creatorName="anil" writerName="anil" writerID="0" template="1086" nodeTypeAlias="works">
        <title><![CDATA[SkyFonts]]></title>
        <content><![CDATA[<p>Project:</p>
<p>Start Date: March 2012</p>
<h4>Introduction</h4>
<p><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>
<h4><span>StartUP</span></h4>
<p><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>
<p><span><img id="1stImg" style="width: 478px; height: 233px;" src="/media/1009/capture.png?width=478&amp;height=233" alt="" rel="1106" data-id="1106" /></span></p>
<p> </p>]]></content>
      </works>
      <works id="1101" key="cf2f40e6-4916-43cd-9a5a-cdd7d89c0735" parentID="1099" level="3" creatorID="0" sortOrder="5" createDate="2016-12-23T13:09:17" updateDate="2016-12-27T21:27:16" nodeName="Monotype" urlName="monotype" path="-1,1073,1099,1101" isDoc="" nodeType="1098" creatorName="anil" writerName="anil" writerID="0" template="1086" nodeTypeAlias="works">
        <title><![CDATA[Monotype]]></title>
        <content><![CDATA[<h4>Monotype Content</h4>]]></content>
      </works>
      <works id="1102" key="c85e4e85-b086-448a-b94e-481d55d012be" parentID="1099" level="3" creatorID="0" sortOrder="6" createDate="2016-12-23T13:09:41" updateDate="2016-12-27T21:27:16" nodeName="FontSquare" urlName="fontsquare" path="-1,1073,1099,1102" isDoc="" nodeType="1098" creatorName="anil" writerName="anil" writerID="0" template="1086" nodeTypeAlias="works">
        <title><![CDATA[FontSquare]]></title>
        <content><![CDATA[<h4>FontSquare content</h4>]]></content>
      </works>
      <works id="1103" key="41816fae-b6e7-4838-96e8-a0322a5b57cb" parentID="1099" level="3" creatorID="0" sortOrder="7" createDate="2016-12-23T13:09:55" updateDate="2016-12-27T21:27:16" nodeName="Fonts.com" urlName="fontscom" path="-1,1073,1099,1103" isDoc="" nodeType="1098" creatorName="anil" writerName="anil" writerID="0" template="1086" nodeTypeAlias="works">
        <title><![CDATA[Fonts.com]]></title>
        <content><![CDATA[<h4>Fonts.com content</h4>]]></content>
      </works>
    </works>
  </home>
  <contentRepository id="1148" key="cf46b398-f9c0-40cb-8093-1ce8c3b1cbe1" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2016-12-27T15:08:45" updateDate="2016-12-27T15:08:45" nodeName="Content Repository" urlName="content-repository" path="-1,1148" isDoc="" nodeType="1147" creatorName="anil" writerName="anil" writerID="0" template="1146" nodeTypeAlias="contentRepository">
    <subPages id="1139" key="1a837970-2df8-4a7d-a016-b73a88ea1f7d" parentID="1148" level="2" creatorID="0" sortOrder="1" createDate="2016-12-27T12:13:11" updateDate="2016-12-27T15:10:55" nodeName="DevelopmentAndDeliveryPhases" urlName="developmentanddeliveryphases" path="-1,1148,1139" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
      <subPages id="1140" key="82b52bfa-7163-44ea-92aa-0176351f9df6" parentID="1139" level="3" creatorID="0" sortOrder="6" createDate="2016-12-27T12:14:31" updateDate="2016-12-27T15:10:55" nodeName="Phase-1" urlName="phase-1" path="-1,1148,1139,1140" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <title><![CDATA[Understand and product and its features]]></title>
      </subPages>
      <subPages id="1141" key="e505553a-106f-4069-ae12-35348d4bae5c" parentID="1139" level="3" creatorID="0" sortOrder="7" createDate="2016-12-27T12:15:04" updateDate="2016-12-27T15:10:55" nodeName="Phase-2" urlName="phase-2" path="-1,1148,1139,1141" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <title><![CDATA[Pick up PBI]]></title>
      </subPages>
      <subPages id="1142" key="4ae9e21e-afbc-48e2-b184-76e2350e8f61" parentID="1139" level="3" creatorID="0" sortOrder="8" createDate="2016-12-27T12:16:02" updateDate="2016-12-27T15:10:55" nodeName="Phase-3" urlName="phase-3" path="-1,1148,1139,1142" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <title><![CDATA[Complete Task on Time to complete PBIs on Time]]></title>
      </subPages>
      <subPages id="1143" key="c8bdee2f-8472-47b4-8f9f-1a1c1e18704b" parentID="1139" level="3" creatorID="0" sortOrder="9" createDate="2016-12-27T12:16:58" updateDate="2016-12-27T15:10:55" nodeName="Phase-4" urlName="phase-4" path="-1,1148,1139,1143" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <title><![CDATA[Pick up Bugs discovered by QA]]></title>
      </subPages>
      <subPages id="1144" key="78b72082-0051-4e5c-bdde-dc8f0e1845ce" parentID="1139" level="3" creatorID="0" sortOrder="10" createDate="2016-12-27T12:17:42" updateDate="2016-12-27T15:10:55" nodeName="Phase-5" urlName="phase-5" path="-1,1148,1139,1144" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <title><![CDATA[Provide quality product]]></title>
      </subPages>
      <subPages id="1145" key="df440c82-4f9e-4b51-99a0-54985709a9f5" parentID="1139" level="3" creatorID="0" sortOrder="11" createDate="2016-12-27T12:18:29" updateDate="2016-12-27T15:10:55" nodeName="Phase-6" urlName="phase-6" path="-1,1148,1139,1145" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <title><![CDATA[Have Fun]]></title>
      </subPages>
    </subPages>
    <subPages id="1132" key="a572f31e-5d8c-4070-85f4-22450043ce20" parentID="1148" level="2" creatorID="0" sortOrder="2" createDate="2016-12-26T20:44:28" updateDate="2016-12-27T15:11:02" nodeName="Team Members" urlName="team-members" path="-1,1148,1132" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
      <subPages id="1133" key="2dde2e74-5673-496b-a714-bca7276af180" parentID="1132" level="3" creatorID="0" sortOrder="5" createDate="2016-12-26T21:14:29" updateDate="2016-12-27T15:11:02" nodeName="Member-01" urlName="member-01" path="-1,1148,1132,1133" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <title><![CDATA[Managing Director]]></title>
        <heading><![CDATA[Ujjoyl Raj Singh]]></heading>
        <image><![CDATA[/media/1014/teammember.png]]></image>
      </subPages>
      <subPages id="1134" key="c2b75ba5-f154-44c2-a8d9-f27f5cc89c19" parentID="1132" level="3" creatorID="0" sortOrder="6" createDate="2016-12-26T21:15:18" updateDate="2016-12-27T15:11:03" nodeName="Member-02" urlName="member-02" path="-1,1148,1132,1134" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <title><![CDATA[Managing Director]]></title>
        <heading><![CDATA[Amit Thapa]]></heading>
        <image><![CDATA[/media/1015/teammember.png]]></image>
      </subPages>
      <subPages id="1135" key="63c9e18e-c8d0-44ad-a900-cd6fbf7dd551" parentID="1132" level="3" creatorID="0" sortOrder="7" createDate="2016-12-26T21:17:52" updateDate="2016-12-27T15:11:03" nodeName="Member-03" urlName="member-03" path="-1,1148,1132,1135" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <title><![CDATA[Niprendra Nath Newa]]></title>
        <heading><![CDATA[Web Architect]]></heading>
      </subPages>
      <subPages id="1136" key="cb2f36bc-b3d9-4d80-915f-ed49b32a9031" parentID="1132" level="3" creatorID="0" sortOrder="8" createDate="2016-12-26T21:18:03" updateDate="2016-12-27T15:11:03" nodeName="Member-04" urlName="member-04" path="-1,1148,1132,1136" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <title><![CDATA[Ram Ghaju]]></title>
        <heading><![CDATA[Lead Engineer]]></heading>
      </subPages>
      <subPages id="1137" key="3a4c08d0-b9c4-42f7-8005-2add0b7205be" parentID="1132" level="3" creatorID="0" sortOrder="9" createDate="2016-12-26T21:18:33" updateDate="2016-12-27T15:11:03" nodeName="Member-05" urlName="member-05" path="-1,1148,1132,1137" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <title><![CDATA[Roshan Shrestha]]></title>
        <heading><![CDATA[Project Manager]]></heading>
      </subPages>
    </subPages>
    <subPages id="1105" key="83a29a99-16ac-4abb-ab40-ad512af2ce77" parentID="1148" level="2" creatorID="0" sortOrder="3" createDate="2016-12-23T17:30:57" updateDate="2016-12-27T15:11:24" nodeName="Solutions" urlName="solutions" path="-1,1148,1105" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
      <subPages id="1092" key="33f749cf-d645-426a-92dc-20623eb30157" parentID="1105" level="3" creatorID="0" sortOrder="6" createDate="2016-12-22T18:09:07" updateDate="2016-12-27T15:11:24" nodeName="WebDesign" urlName="webdesign" path="-1,1148,1105,1092" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <description><![CDATA[<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,</p>]]></description>
        <title><![CDATA[Web design]]></title>
        <image><![CDATA[/media/1005/audi-1890494__340.jpg]]></image>
      </subPages>
      <subPages id="1093" key="20f717ea-319b-4b24-92ed-835f776b1eef" parentID="1105" level="3" creatorID="0" sortOrder="7" createDate="2016-12-22T18:09:41" updateDate="2016-12-27T15:11:24" nodeName="MobileApp" urlName="mobileapp" path="-1,1148,1105,1093" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <description><![CDATA[<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,</p>]]></description>
        <title><![CDATA[Mobile App]]></title>
        <image><![CDATA[/media/1006/violin-1906127__340.jpg]]></image>
      </subPages>
      <subPages id="1094" key="1565958b-b3b0-4bc4-98a9-2f089251882b" parentID="1105" level="3" creatorID="0" sortOrder="8" createDate="2016-12-22T18:10:12" updateDate="2016-12-27T15:11:24" nodeName="GraphicDesign" urlName="graphicdesign" path="-1,1148,1105,1094" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <description><![CDATA[<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,</p>]]></description>
        <title><![CDATA[Graphic design]]></title>
      </subPages>
      <subPages id="1095" key="1ade2411-9dc6-4320-855d-65ab46e8ab4a" parentID="1105" level="3" creatorID="0" sortOrder="9" createDate="2016-12-22T18:10:30" updateDate="2016-12-27T15:11:24" nodeName="Enterprise" urlName="enterprise" path="-1,1148,1105,1095" isDoc="" nodeType="1090" creatorName="anil" writerName="anil" writerID="0" template="1089" nodeTypeAlias="subPages">
        <description><![CDATA[<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,</p>]]></description>
        <title><![CDATA[Entrerprise]]></title>
        <image><![CDATA[/media/1007/animals-1897029__340.jpg]]></image>
      </subPages>
    </subPages>
  </contentRepository>
  <containers id="1159" key="fc53bd31-dbe4-4132-9cf0-b086dee2b4ca" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2016-12-28T12:59:27" updateDate="2016-12-28T12:59:27" nodeName="ContainersRepository" urlName="containersrepository" path="-1,1159" isDoc="" nodeType="1154" creatorName="anil" writerName="anil" writerID="0" template="1153" nodeTypeAlias="containers">
    <containersFolder id="1160" key="1035dbe5-2950-4239-9650-1e364908df8e" parentID="1159" level="2" creatorID="0" sortOrder="0" createDate="2016-12-28T12:59:40" updateDate="2016-12-28T12:59:40" nodeName="Contact" urlName="contact" path="-1,1159,1160" isDoc="" nodeType="1156" creatorName="anil" writerName="anil" writerID="0" template="1155" nodeTypeAlias="containersFolder">
      <container id="1161" key="006c22ac-bc2a-4366-8bac-0407efe866eb" parentID="1160" level="3" creatorID="0" sortOrder="0" createDate="2016-12-28T13:01:42" updateDate="2016-12-28T13:01:42" nodeName="Contact-Form" urlName="contact-form" path="-1,1159,1160,1161" isDoc="" nodeType="1158" creatorName="anil" writerName="anil" writerID="0" template="1157" nodeTypeAlias="container">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "ContainerGrid",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "macro"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "contactForm",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "label": "ContainerGrid",
          "hasConfig": false,
          "id": "ab55d719-aea9-f976-0603-bf7e20cb21f6",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></content>
      </container>
      <container id="1166" key="66960012-51f6-4095-a07a-a70c959449ab" parentID="1160" level="3" creatorID="0" sortOrder="1" createDate="2016-12-28T13:27:57" updateDate="2016-12-28T13:27:57" nodeName="HelloJOb" urlName="hellojob" path="-1,1159,1160,1166" isDoc="" nodeType="1158" creatorName="anil" writerName="anil" writerID="0" template="1157" nodeTypeAlias="container">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "ContainerGrid",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "macro"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "JobTitle",
                    "macroParamsDictionary": {
                      "jobTitle": "Hello"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "label": "ContainerGrid",
          "hasConfig": false,
          "id": "2d4c8f86-0b1e-492e-50c8-e23a58aa020b",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></content>
      </container>
    </containersFolder>
    <containersFolder id="1167" key="d90660e9-d0a6-4bb0-b1ea-8703c2a1e13e" parentID="1159" level="2" creatorID="0" sortOrder="1" createDate="2016-12-28T13:35:16" updateDate="2016-12-28T13:35:16" nodeName="Images" urlName="images" path="-1,1159,1167" isDoc="" nodeType="1156" creatorName="anil" writerName="anil" writerID="0" template="1155" nodeTypeAlias="containersFolder">
      <container id="1170" key="fa58bb0a-ec3f-4f3b-a0a1-1b2817a91285" parentID="1167" level="3" creatorID="0" sortOrder="0" createDate="2016-12-28T13:36:18" updateDate="2016-12-28T13:36:18" nodeName="ImageSlider" urlName="imageslider" path="-1,1159,1167,1170" isDoc="" nodeType="1158" creatorName="anil" writerName="anil" writerID="0" template="1157" nodeTypeAlias="container">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "ContainerGrid",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "macro",
                "slider"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "slider": [
                      {
                        "caption": "Dogs",
                        "imagePath": "/media/1017/dog-1861839__340.jpg",
                        "id": 1
                      },
                      {
                        "caption": "Dogs2",
                        "imagePath": null,
                        "id": 1
                      }
                    ],
                    "id": 2,
                    "imageData": {
                      "focalPoint": {
                        "left": 0.5,
                        "top": 0.5
                      },
                      "id": 1169,
                      "image": "/media/1017/dog-1861839__340.jpg",
                      "imageRowId": 1
                    }
                  },
                  "editor": {
                    "alias": "slider"
                  },
                  "active": true
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "label": "ContainerGrid",
          "hasConfig": false,
          "id": "9214b591-dc73-3af5-fd2f-243492ee1959",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></content>
      </container>
    </containersFolder>
    <containersFolder id="1171" key="0cbde630-3ae7-44c8-b2b4-17c410ca55a1" parentID="1159" level="2" creatorID="0" sortOrder="2" createDate="2016-12-28T13:52:54" updateDate="2016-12-28T13:52:54" nodeName="Team" urlName="team" path="-1,1159,1171" isDoc="" nodeType="1156" creatorName="anil" writerName="anil" writerID="0" template="1155" nodeTypeAlias="containersFolder">
      <container id="1173" key="dc2c13c8-112e-47ae-a3fa-9368945c0562" parentID="1171" level="3" creatorID="0" sortOrder="0" createDate="2016-12-28T13:58:06" updateDate="2016-12-28T14:04:54" nodeName="TeamMembers" urlName="teammembers" path="-1,1159,1171,1173" isDoc="" nodeType="1158" creatorName="anil" writerName="anil" writerID="0" template="1157" nodeTypeAlias="container">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "ContainerGrid",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "macro",
                "slider",
                "teammembercontainer"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "teammember": [
                      {
                        "Name": "Team1",
                        "imagePath": "/media/1018/teammember.png",
                        "designation": "Managing Director",
                        "id": 1
                      },
                      {
                        "Name": "Team2",
                        "imagePath": "/media/1018/teammember.png",
                        "designation": "Managing Director",
                        "id": 2
                      },
                      {
                        "Name": "Team3",
                        "imagePath": "/media/1018/teammember.png",
                        "designation": "Web architect",
                        "id": 3
                      },
                      {
                        "Name": "Team4",
                        "imagePath": "/media/1018/teammember.png",
                        "designation": "Lead Engineer",
                        "id": 4
                      }
                    ],
                    "id": 4,
                    "imageData": {
                      "focalPoint": {
                        "left": 0.5,
                        "top": 0.5
                      },
                      "id": 1172,
                      "image": "/media/1018/teammember.png",
                      "imageRowId": 4
                    },
                    "Heading": "Our Team",
                    "subHeading": "Uba Solutions offers a range of solutions to your web and mobile applications ideas.",
                    "vacancy": "See our Current openings",
                    "vacancyURL": "https://http://local.uba-solutions.com/Careers"
                  },
                  "editor": {
                    "alias": "teammembercontainer"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "label": "ContainerGrid",
          "hasConfig": false,
          "id": "3a09b59f-facc-f33b-a101-290ac7e287f3",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></content>
      </container>
      <container id="1174" key="825f1fda-573b-4be2-89c0-2304eb9dc98d" parentID="1171" level="3" creatorID="0" sortOrder="1" createDate="2016-12-28T16:31:33" updateDate="2016-12-28T16:31:33" nodeName="How We Works" urlName="how-we-works" path="-1,1159,1171,1174" isDoc="" nodeType="1158" creatorName="anil" writerName="anil" writerID="0" template="1157" nodeTypeAlias="container">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "ContainerGrid",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "macro",
                "slider",
                "teammembercontainer",
                "howWeWorksContainer"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "howWeWorks": [
                      {
                        "imagePath": "/media/1017/dog-1861839__340.jpg",
                        "description": "Understand product and its featherus",
                        "id": 1
                      },
                      {
                        "imagePath": "/media/1016/animals-1897029__340.jpg",
                        "description": "Pick up PBI",
                        "id": 2
                      }
                    ],
                    "id": 2,
                    "Heading": "Development and Delivery",
                    "subHeading": "Uba Solutions offers a range of soultuons to your web and mobile applications ideas.",
                    "imageData": {
                      "focalPoint": {
                        "left": 0.5,
                        "top": 0.5
                      },
                      "id": 1168,
                      "image": "/media/1016/animals-1897029__340.jpg",
                      "imageRowId": 2
                    }
                  },
                  "editor": {
                    "alias": "howWeWorksContainer"
                  },
                  "active": true
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "label": "ContainerGrid",
          "hasConfig": false,
          "id": "e416ca71-ba2d-1882-0521-569597ae4052",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></content>
      </container>
    </containersFolder>
  </containers>
</root>