@inherits Umbraco.Web.Macros.PartialViewMacroPage

	<h3> DEVELOPMENT AND DELIVERY </h3>
<div>
    UBA Solutions offers a range of solutions to your web and mobile application ideas.
</div>
	
<div>
    <span>
        <img src="" alt="img1" />
       <br>
        <text>Understand the product and its featurs</text>

    </span>

    <span>
        <img src="" alt="img2" />
        <br>
        <text>Pick up PBI</text>
    </span>

    <span>
        <img src="" alt="img3" />
        <br>
        <text>Complete Task on Time to complete PBIs on Time</text>
    </span>

    <span>
        <img src="" alt="img4" />
        <br>
        <text>Pick up Bugs discovered by QA</text>
    </span>

    <span>
        <img src="" alt="img5" />
        <br>
        <text>Provide quality product</text>
    </span>

    <span>
        <img src="" alt="img6" />
        <br>
        <text>Have Fun</text>
    </span>
</div>