@inherits Umbraco.Web.Macros.PartialViewMacroPage

@if (Model.MacroParameters.ContainsKey("heading"))
{
    <h3> @Html.Raw(Model.MacroParameters["heading"])</h3>
}

@if (Model.MacroParameters.ContainsKey("description"))
{
    <div>
        @Html.Raw(Model.MacroParameters["description"])
    </div>
}

